
body{
    background-color: #1B1413;
    background-image: url(padrao.png);
    background-repeat: repeat;
    background-size: 40vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
}
header {
    background-color: #FF80BA;
    border-radius: 0 0 0 300vw;
    height: 20vw;
    width:107vw;
}
.cabecalho__elemento__foto{
    position:absolute;
    top: 5vw;
    right:1vw;
    width: 30vw;
    height: 30vw;
}

.cabecalho__elemento__curva{
    position:absolute;
    top: 1vw;
    left:11vw;
    width: 17vw;
    height: 17vw;
}
.cabecalho__elemento__circulo1{
    position: absolute;
    top: 1vw;
    right: -7vw;
    width: 15vw;
    height: 15vw;
}
.cabecalho__elemento__circulo2{
    position: absolute;
    top: -16vw;
    right: 30vw;
    width: 30vw;
    height: 30vw;
}
.cabecalho__elemento__triangulo{
    position:absolute;
    top: 0vw;
    right:5px;
    width: 20vw;
    height: 20vw;
}
main{
    color:aliceblue
}

section{
    width: 80vw;
    padding: 5vw;
    margin:  10vw 10vw 10vw 10vw ;
    text-align: justify;
}
p{
    margin-top: 1vw;
}
.titulo{
    font-size: 2.5em;
    padding: 10px 0px 2px 10px;
    width: 315px;
    height: 1.5em;
    background-color: #FF80BA;
    border-radius: 30px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0.1em 0.1em 0.2em rgb(165, 3, 76)
}
.texto{
    margin-top: 10px;
    padding: 10px;
    background-color:rgba(239, 25, 123, 0.5);
    border-radius: 30px;
  
}