body{
    background-color: #1B1413;
    background-image: url(padrao.png);
    background-repeat: repeat;
}
header {
    background-color: #FF80BA;
    border-radius: 0 0 0 300vw;
    height: 20vw;
    width: auto;
}
.cabecalho__elemento__foto{
    position:absolute;
    top: 5vw;
    right:5px;
    width: 30vw;
    height: 30vw;
}

.cabecalho__elemento__curva{
    position:absolute;
    top: 1vw;
    left:11vw;
    width: 17vw;
    height: 17vw;
}
.cabecalho__elemento__circulo1{
    position: absolute;
    top: 1vw;
    right: -75px;
    width: 15vw;
    height: 15vw;
}
.cabecalho__elemento__circulo2{
    position: absolute;
    top: -16vw;
    right: 30vw;
    width: 30vw;
    height: 30vw;
}
.cabecalho__elemento__triangulo{
    position:absolute;
    top: 0vw;
    right:5px;
    width: 20vw;
    height: 20vw;
}
main{
    
    color:aliceblue
}
